{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Edit the data entry{% endblock %}</h1>
    <form method="post">
        <label for="title">Video ID</label>
        <br>
        <input style="color:red;font-size:15px;" readonly type="text" name="ID"
               placeholder="{{video_id}}"
               value="{{video_id}}"></input>
        <br>
        <label for="title">Views</label>
        <br>
        <input style="color:red;font-size:15px;" type="text" name="views"
               placeholder="{{entry.views}}"
               value="{{entry.views}}"></input>
        <br>
        <label for="title">Likes</label>
        <br>
        <input style="color:red;font-size:15px;" type="text" name="likes"
               placeholder="{{entry.likes}}"
               value="{{entry.likes}}"></input>
        <br>
        <label for="title">Video Title</label>
        <br>
        <input style="color:red;font-size:15px;"  type="text" name="title"
               placeholder="{{entry.name}}"
               value="{{entry.name}}"></input>
        <br>
        <button style="color:red;font-size:50px;" type="submit">Delete</button>
    </form>
{% endblock %}